.item {
 
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
}

.checkbox {
    margin-right: 15px;
    margin-left: -20px;
}
